/* dynaXML Button Bar stylesheet */
/* Applies only to the top navigation bar that appears in the frames view */
body {
	background-color: silver;
	margin: 6px;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {
	 border-bottom: 0;
	 margin: 0 auto;
             padding: 0;	/* 2020-05-23 */
	 background-color: #18101F;
	 height: 100%;
         color: #E2C78E;
}

div.header > h1,
div.header > h2,
div.header > h3 {
                  text-align: center;
                  margin: 1ex 2em 0ex 2em;
                  }
div.header > h2 > a:link    { color: #F3D448; text-decoration: none; }
div.header > h2 > a:visited { color: #C9B23E; text-decoration: none; }
div.header > h2 > a:hover,
div.header > h2 > a:active,
div.header > h2 > a:focus   { color: #FFE14D; text-decoration: none; }

div.header img {
	border: 0;
}

div.header img.xtf-logo {
	float: left;
}

div.header img.your-logo {
	float: right;
}

div.bbar {
	width: 100%;
	margin: 0 auto;
	padding: 0; margin: 0;	/* 2020-05-23 */
}

div.bbar table {
	width: 100%;
	border: 1px solid #666;
	padding: 0; margin: 0;	/* 2020-05-23 */
}

div.bbar table td {
	padding: 0; margin: 0;	/* 2020-05-23 */
}
div.bbar table tr {
	padding: 0; margin: 0;	/* 2020-05-23 */
}

td.left {
	width: 33%;
	text-align: left;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

td.center {
	width: 34%;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

td.center input[type="text"] {
	margin-right: 5px;
}

td.right {
	width: 33%;
	text-align: right;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

.citation {
}

.container {
	background-color: #fff;
	border: 1px solid #666;
	height: 100%;
	padding: 10px 10px 20px 10px;
}
	
	
	
